################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureDeployment/obj/Debug
/AzureDeployment/bin/Debug/staging/EnergyMonitoringAzureResourceGroup
